In [17]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.10.11

## Exercícios

In [18]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

numeros = [1,2,3,4,5,6,7,8,9,10]

for num in numeros:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [19]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

lista_objetos = ['Colher','PlayStation 5','Bola','Pneu','Mouse']

for objeto in lista_objetos:
    print(objeto)

Colher
PlayStation 5
Bola
Pneu
Mouse

In [20]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

primeira_str = 'Minha namorada é '

segunda_str = 'Maravilhosa!'

frase = primeira_str + segunda_str

print(frase)

Minha namorada é Maravilhosa!

In [21]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla = (1,2,2,3,4,4,4,5)

contagem = tupla.count(4)

print(f'O objeto 4, aparece {contagem} vezes na tupla.')

O objeto 4, aparece 3 vezes na tupla.

In [22]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dicionario = {}

print(type(dicionario))
print(dicionario)

<class 'dict'>
{}

In [30]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

alimentos = {
    'Banana': {
        'Tipo': 'Fruta'},
    'Chuchu': {
        'Tipo': 'Legume'
    },
    'Alcatra': {
        'Tipo': 'Carne'
    }
}


for alimento in alimentos.items():
    print(alimento)

('Banana', {'Tipo': 'Fruta'})
('Chuchu', {'Tipo': 'Legume'})
('Alcatra', {'Tipo': 'Carne'})

In [32]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

alimentos.update({'Jaca': {'Tipo':'Fruta'}})

for alimento in alimentos.items():
    print(alimento)

('Banana', {'Tipo': 'Fruta'})
('Chuchu', {'Tipo': 'Legume'})
('Alcatra', {'Tipo': 'Carne'})
('Jaca', {'Tipo': 'Fruta'})

In [33]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

elementos = [1,2]

dic = {'Isaque':{
    'Idade': 22,
    'Altura': 1.78,
    'Números Favoritos': elementos
}}

for el in dic.items():
    print(el)

('Isaque', {'Idade': 22, 'Altura': 1.78, 'Números Favoritos': [1, 2]})

In [34]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.


string = 'Lulu é linda'
tupla = (1,3)
dic = {'Leandro':{
        'Idade': 12},
    'Diogo':{
        'Idade':11
    }}
valor_float = 1.45

lista = [string,tupla,dic,valor_float]

print(lista)

['Lulu é linda', (1, 3), {'Leandro': {'Idade': 12}, 'Diogo': {'Idade': 11}}, 1.45]

In [36]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[0:18]

'Cientista de Dados'